.aboutCon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 5vh auto;
    font-family: $mainFont;
    &__info{
        width: 65%;
    }
    &__img{
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.322) 1px 0px 18px 8px;
        img{
            object-fit: cover;
        }
    }
    @include respond(medium){
        flex-direction: column;
        &__info{
            width: 100%;
        }
    }
    @include respond(small){
        flex-direction: column;
        &__info{
            width: 100%;
        p{
            margin: 2vh;
        }
        }
    }
}
